@font-face {
  font-family:poppins ;
  src: url(fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family:poppins_light ;
  src: url(fonts/Poppins/Poppins-Light.ttf);
}
*{
  font-family: poppins;
}
body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
