.page {
}
.createHeading{
    position: fixed;
    left: 0px;
    bottom: -30px;

    font-size: 90px;
    font-family: poppins;
    background: white;
    color: rgb(0, 0, 0);
    z-index: 1;
}
.bgDiv {
  position: fixed;
  margin-top: 80px;
  width: 100%;
  z-index: -1;

}
.bgDiv2 {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.backGround {
  height: 800px;
  width: 800px;
  margin-left: 20px;
  margin-top: -60px;
  z-index: -1;

}
.punchLine {
  font-size: 40px;
  width:max-content;
  padding: 5px 20px 5px 50px;
  font-family: poppins_light;
 background: linear-gradient(45deg, #FF416C,  rgb(224, 0, 112));
    color: white;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 20px;
}

.backGround2 {
  opacity: 0.25;
  width: auto;
  height: 100vh;
}
.mainDiv {
  font-family: poppins;
  padding: 60px 20px 10px 10px;
}
.content {
  display: flex;
  justify-content: right;
  margin-top: 25px;
  margin-right: 50px;
}
.contentDiv {
  margin-bottom: 10px;
  width: 1000px;
}
.inputTitle {
  border-radius: 8px;
  border-color: rgba(224, 0, 112, 0.445);
  padding: 5px;
  outline-color: rgba(224, 0, 112, 0.87);
  width: 100%;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.767);
}
.chooseFile{
  color: white;
  background-color: rgba(224, 0, 112, 0.973);
  border-radius: 8px;
  padding: 5px;
  content: 'select';
  width: fit-content;
}
.chooseFile::file-selector-button {
  background-color: white;
  border-radius: 6px;
  border-style:none;
  padding: 3px 10px;
  color: rgba(0, 0, 0, 0.87);;
}
.userImageDiv{
  text-align: center;
  padding: 5px;
}
.userImage{
  max-height: 500px;
  object-fit: contain;
  width: 80%;
  height: auto;
  border-style: solid;
  border-radius: 8px;
  border-color: rgba(224, 0, 112, 0.445);
}
.inputContent {
  border-radius: 8px;
  border-color: rgba(224, 0, 112, 0.445);
  border-width: 2px;
  padding: 5px 5px 5px 5px;
  outline-color: rgba(224, 0, 112, 0.87);
  min-height: 300px;
  height: max-content;
  width: 100%;
  margin-bottom: -6px;
  background-color: rgba(255, 255, 255, 0.767);
}
.submitButtonDiv {
  display: flex;
  justify-content: end;
}
.submitButton {
  margin-top: 5px;
  color: white;
  background-color: rgba(224, 0, 112, 0.973);
  border-style: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
}
.submitButton:hover {
  background-color: rgba(182, 0, 91, 0.973);
}
.button {
  color: white;
  background-color: rgba(224, 0, 112, 0.973);
  border-style: none;
  border-radius: 8px;
  padding: 6px 10px 6px 10px;
  margin-bottom: 5px;
}
.button:hover {
  background-color: rgba(182, 0, 91, 0.973);
}
.selectedCategory {
  border-color: rgba(224, 0, 112, 0.445);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.171);
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 5px;
}
.selectedCategory:hover {
  border-color: rgba(224, 0, 112, 0.87);
}
.char_count {
  font-size: 10px;
  text-align: end;
}
.icon{
    fill: white;
    margin-right: 5px;
}
@media (max-width: 1800px) {
  .bgDiv2 {
    justify-content: center;
  }
  .content {
    justify-content: center;
    margin-right: 0px;

  }
  .punchLine {
    /*text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(224, 0, 112, 0.184);

    padding: 5px;
    margin:0;
    width: 100%;*/
    display: none;
  }
  .backGround{
    opacity: 0.6;

  }
  .backGround2 {
    display: none;
  }
}
@media (max-height: 700px) {
}
