
.menuComponent{
    position: absolute;
    right: 0;
    top: 49px;
    color:black;
    width:200px;
    border-style: none;
    border-width: 1px;
    background-color: rgba(207, 207, 207, 0.94);
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    z-index: 100;
}

.menuComponent div{
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
}
